/* Stylize the universal selector */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Add style to the type selector */

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* Add style to the grouping selector */

.header, .content, .footer {
    display: flex;
}

/* Add style to the grouping selector */

.header, .footer {
    flex: 1; 
    background: black;
}

/* Add style to the type selector */

ul {
    display: flex;
    justify-content: space-between;
    flex: 1;
    align-items: center;
}

/* Add style to the type selector */

li {
    list-style: none;
}

/* Add style to the type selector */

a {
    color: white;
    font-size: 16px;
    font-weight: bold;
}

/* Add style to the class selector */

.content {
    flex: 15;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

/* Add style to the class selector */

.logo {
    width: 190px;
}

/* Add style to the type selector */

img {
    max-width: 100%;
}

/* Add style to the class selector */

.name {
    font-size: 50px;
    width: 300px;
    text-align: center;
}

/* Add style to the type selector */

input {
    width: 700px;
    height: 45px;
    padding: 0 16px;
    font-size: 18px;
    border-radius: 5px;
}

/* Add style to the type selector */

button {
    border-radius: 5px;
}

/* Add style to the class */

.flex-container-btn {
    display: flex;
    height: 40px;
    width: 288px;
    gap: 10px;
}