/* Stylize the universal selector */

* {
    border: 1px solid black;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Add style to the grouping selector */



/* Add style to the grouping selector */



/* Add style to the class selector */



/* Add style to the type selector */



/* Add style to the type selector */



/* Add style to the type selector */



/* Add style to the class selector */



/* Add style to the class selector */



/* Add style to the type selector */



/* Add style to the class selector */



/* Add style to the class selector */